html{
  font-size: 62.5%;
  overflow: hidden;
  height: 100%;
}

body{
  font-family: $primary-font;
  overflow: hidden;
  height: 100%;
  // background-color: $primary-color;
  // background-size: 7px 7px;
  // background-image: 
  //   linear-gradient(to right, $secondary-color 1px, transparent 1px), 
  //   linear-gradient(to bottom, $secondary-color 1px, transparent 1px);
  background-image: linear-gradient(transparent 0px, transparent 2px, $primary-color 2px, $primary-color 20px), linear-gradient(to right, $quaternary-color 0px, $quaternary-color 2px, $primary-color 2px, $primary-color 20px);
  background-position: -233px -2px;
  background-size: 12px 12px;
}

p{
  font-size: 1.4rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}


h3{
  font-size: 2rem;
  padding: 0;
  margin: 10px;
}

ul, li, a {
  text-decoration: none;
  color: inherit;
}

button:focus {outline:0;}

.dragged{
  i, p{
    color: $dragged-color;
  }
}

#icon-container{
  height: calc( 80vh - 30px);
  width: 25%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  @media only screen and (max-width: 400px){
    padding-bottom: 15%;
    height: calc( 90vh - 30px);
    width: 100%;
  }

  .icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25%;
    // min-width: 100px;
    margin: 0 10px;
    // background-color: blue;
    padding: 10% 0%;
    text-align: center;
    color: $icon-color;
    @media only screen and (max-width: 400px){
      padding: 0% !important;
      margin: 0;
    }

    i{
      margin-bottom: 5px;
      font-size: 4rem;
      -webkit-text-stroke: 2px $primary-color;
      transition: font-size 0.3s;
      @media only screen and (max-width: 400px){
        font-size: 3.5rem;
        -webkit-text-stroke: 1.7px $primary-color;
      }
    }
    p{
      margin: 0;
      padding: 0;
      // background: $secondary-color;
    }
  }
}

// used to bring clicked window to front by increasing z-index
.top {z-index: 100!important; position: relative}
.bottom {z-index: 20!important; position: relative}

.window{
  z-index: 101;
  border: 1px solid $teritary-color;
  background: $secondary-color;
  position: absolute;
  overflow: hidden !important;
    @media only screen and (max-width: 400px){
    top: 0% !important;
    left: 0% !important;
    right: 0%;
    bottom: 0%;
    height: 100% !important;
    width: 100% !important;
    // overflow-x: hidden;
  }
  .top-bar{
    width: 100%;
    text-align: center;
    font-weight: 600;
    margin: 0;
    h2{
      font-size: 1.4rem;
      position: relative;
      z-index: 20;
      background: $secondary-color;
      // border-left: 1px solid $teritary-color;
      // border-right: 1px solid $teritary-color;
      // border-top: 1.5px solid $teritary-color;
      // border-bottom: 1px solid $teritary-color;
      padding: 5px;
      margin: 0 auto;
      display: inline-block !important;
    }
    // .bar1,
    .bar2,
    .bar3,
    .bar4,
    .bar5,
    .bar6,
    .bar7,{
      z-index: 0;
      border-top: 1px solid lighten($teritary-color, 30);
      transform: translateY(-28px);
      position: relative;
      top: 2.5px;
      width: calc(100% - 10px);
      margin: 0 auto;
      // width: 100%;
    }
    .bar2{top: 5.5px;}
    .bar3{top: 8.5px;}
    .bar4{top: 11.5px;}
    .bar5{top: 14.5px;}
    .bar6{top: 17.5px;}
    .bar7{
      top: 22.5px;
      z-index: 20;
      border-top: 1px solid $teritary-color;
      width: 100%;
    }
    
    &:hover{
      cursor: grab;
    }
    .close, .enlarge{
      z-index: 20;
      border: none;
      border-left: 1px solid $teritary-color;
      // border-bottom: 1px solid $teritary-color;
      padding: 0 8px;
      position: relative;
      height: 28px;
      font-size: 1.6rem;
      background: $secondary-color;
      position: absolute;
      right: 0;
    }
    .enlarge{
      right: 26px;
      width: 27px;
      @media only screen and (max-width: 400px){
        display: none;
      }
    }
  }
}

.sophie-window{
  top: 2.5%;
  // left: 17.5%;
  left: calc(100% / 2 - (805px / 2));
  height: 550px;
  width: 805px;
}

.shutter-window{
  top: 5%;
  // left: 32.5%;
  left: calc(100% / 2 - (400px / 2));
  height: 500px;
  width: 400px;
}

.ascii-window{
  top: 7.5%;
  // left: 25%;
  left: calc(100% / 2 - (500px / 2));
  height: 533px;
  width: 500px;
}

.piece-window{
  top: 2.5%;
  // left: 32.5%;
  left: calc(100% / 2 - (400px / 2));
  height: 600px;
  width: 400px;
}

.answers-window{
  top: 5%;
  // left: 28%;
  left: calc(100% / 2 - (500px / 2));
  height: 550px;
  width: 500px;
}

.notes-window{
  top: 2.5%;
  // left: 32.5%;
  left: calc(100% / 2 - (400px / 2));
  height: 525px;
  width: 400px;
}

.about-window, .contact-window, .portfolio-window, .readme-window{
  .top-bar{height: 29px;}
}

.about-window{
  top: 7.5%;
  // left: 28%;
  left: calc(100% / 2 - (550px / 2));
  height: 500px;
  width: 550px;
  display: flex;
  flex-direction: column;
  p{
    padding: 10px 5%;
    max-width: 600px;
    margin: 0 auto;
  }
  .icon-social, .icon-works{
    display: flex;
    justify-content: space-around;
    font-size: 2.5rem;
    color: $icon-color;
    max-width: 500px;
    margin: 20px auto;
  }
  .icon-works{
    flex-wrap: wrap;
    justify-content: space-evenly;
    a{
      margin: 10px 5%;
      height: 24px;
      width: 24px;
      svg{
        fill: $icon-color;
      }
    }
  }
}

.contact-window{
  top: 10%;
  // left: 32.5%;
  left: calc(100% / 2 - (400px / 2));
  height: 325px;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  form{
    font-size: 1.5rem;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    :nth-child(-n+2) {
      width: 49%;
      height: 100%;
    }
    :nth-child(3) {
      width: 99%;
      height: 100px;
    }
    input{
      border-style: none;
      border: 1px solid $quaternary-color;
      &:required {
        box-shadow:none;
      }
      &:invalid {
          // removes the red highlight
          box-shadow:0 0 0px red;
      }
    }
    input[type=submit]{
      font-size: 1.5rem;
      background: $primary-color;
      margin-top: 5px;
    }
    textarea{
      margin-top: 10px;
      resize: none;
      border: 1px solid $quaternary-color;
      &:required {
        box-shadow:none;
      }
    }
  }
}

.portfolio-window{
  top: 5%;
  // left: 17.5%;
  left: calc(100% / 2 - (400px / 2));
  height: 550px;
  width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  .icon-portfolio{
    background: white;
    display: inline-block;
    height: 120px;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    border: 4px double black;
    i{
      font-size: 2rem;
      margin-bottom: 5px;
      font-size: 4rem;
      -webkit-text-stroke: 2px $primary-color;
      @media only screen and (max-width: 400px){
      font-size: 3.5rem;
      -webkit-text-stroke: 1.7px $primary-color;
      }
    }
    p{
      margin: 0 auto;
    }
  }
  p{
    width: 80%;
    max-width: 600px;
    margin: 15px auto;
  }
  .links{
    display: flex;
    justify-content: center;
    a{
    font-size: 1.6rem;
    margin: 0rem 2rem 4rem 2rem;
    padding: 0.5rem;
    border: 1px solid $teritary-color;
    }
  }
}

.readme-window{
  top: 3.5%;
  left: initial;
  right: 2%;
  height: 485px;
  width: 300px;
  text-align: left;
  display: flex;
  flex-direction: column;
  p{
    padding: 0.75rem 1.5rem;
    max-width: 600px;
    margin: 0 auto;
    &:first-of-type{
      padding-bottom: 2rem;
      text-align: center;
    }
    &:last-of-type{
      padding-top: 3rem;
      text-align: center;
    }
  }
}

#left{
  left: auto !important;
}

iframe{
  // to get rid of ghost space
  // transform: translateY(-5.5px);
  // to prevent iframe from overflowing the window container
  // height: 94.2%;
  transform: translateY(-6px);
  display:inline-block;
  height: calc( 100% - 27px);
  width: 100%;
  border: none;
  // z-index: 102 !important;
  @media only screen and (max-width: 400px){
    height: 96%;
    transform: translateY(-5.5px);
  }
}

.wrapper{
  // transform: translateY(-8px);
  overflow-x: hidden;
  overflow-y: scroll;
}

footer{
  background-color: $secondary-color;
  border-top: 1px solid $teritary-color;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
  height: 30px;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  .footer-container{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p, #time{
      font-size: 1.5rem;
    }
  }
}