html{
  font-size: 62.5%;
}

body{
  font-family: $primary-font;
  overflow: hidden;
  height: 100vh;
}

p{
  font-size: 1.4rem;
  margin: 0;
  padding: 0.2rem;
}

ul, li, a {
  text-decoration: none;
  color: inherit;
}

main, #icon-container{
  background-color: $primary-color;
  // background-size: 40px 40px;
  // background-image: 
  //   linear-gradient(to right, $secondary-color 1px, transparent 1px), 
  //   linear-gradient(to bottom, $secondary-color 1px, transparent 1px);
  // background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}


#icon-container{
  height: calc( 100vh - 30px);
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  .icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25%;
    text-align: center;
    color: $teritary-color;

    i{
      // margin-bottom: 5px;
      width: 100%;
      font-size: 4.5rem;
      font-weight: normal;
      -webkit-text-stroke: 2px $primary-color;
      // background: $primary-color;
    }
    p{
      margin: 0;
      padding: 0;
      // background: $primary-color;
    }
  }
}

aside{
  position: fixed;
  top: 5%;
  right: 5%;
  width: 400px;
  background: $secondary-color;
  padding: 10px;
  text-align: center;
  border: 1px solid $quaternary-color;
  form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    :nth-child(-n+2) {
      width: 50%;   
    }
    :nth-child(3) {
      width: 100%;   
    }
    input{
      &:required {
        box-shadow:none;
      }
      &:invalid {
          box-shadow:0 0 0px red;
      }
    }
    input[type=submit]{
      border-style: none;
      background: $primary-color;
      margin-top: 5px;
    }
  }
}

.top {z-index: 100!important; position: relative}
.bottom {z-index: 20!important; position: relative}

.window{
  z-index: 20;
  height: 500px;
  width: 810px;
  border: 1px solid $teritary-color;
  background-color: $secondary-color;
  position: absolute;
  left: 15%;
  top: 7.5%;
  h2{
    text-align: center;
    font-weight: 600;
    border-bottom: 1px solid $teritary-color;
    background-color: $primary-color;
    margin: 0;
    padding: 5px 0;
    &:hover{
      cursor: grab;
    }
    .close, .enlarge{
      background-color: $primary-color;
      position: absolute;
      right: 0;
      border: none;
    }
    .enlarge{
      right: 20px;
    }
  }
}

.shutter-window{
  height: 535px;
  width: 575px;
  left: 25%;
  top: 5%;
}

.ascii-window{
  height: 535px;
  width: 575px;
  left: 25%;
  top: 5%;
}

.piece-window{
  height: 550px;
  width: 400px;
  left: 35%;
  top: 2.5%;
}

.answers-window{
  height: 550px;
  width: 500px;
  left: 30%;
  top: 5%;
}

.notes-window{
  height: 500px;
  width: 375px;
  left: 32.5%;
  top: 2.5%;
}

.about-window{
  height: 550px;
  width: 600px;
  left: 20%;
  top: 2.5%;
  p{
    padding: 5% 5% 0 5%;
  }
}


// .fullscreen{
//   position: absolute;
//   height: 100%;
//   width: 100%;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
// }

footer{
  background-color: $secondary-color;
  border-top: 1px solid $teritary-color;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
  height: 30px;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  .footer-container{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p, #time{
      font-size: 1.5rem;
    }
  }
}

iframe{
  // to prevent iframe from overflowing the window container
  height: 94.2%;
  width: 100%;
  border: none;
}