html{
  font-size: 62.5%;
}

body{
  font-family: $primary-font;
  overflow: hidden;
  height: 100vh;
}

p{
  font-size: 1.4rem;
  margin: 0;
  padding: 0.2rem;
}

ul, li, a {
  text-decoration: none;
  color: inherit;
}

main, #icon-container{
  background-color: $primary-color;
}

#icon-container{
  height: calc( 100vh - 30px);
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.top {z-index: 100!important; position: relative}
.bottom {z-index: 20!important; position: relative}

.icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 25%;
  width: 100px;
  text-align: center;

  i{
    font-size: 4.5rem;
    font-weight: normal;
    -webkit-text-stroke: 2px $primary-color;
  }
  p{
    margin: 0;
    padding: 0;
  }
}

.window{
  z-index: 20;
  height: 500px;
  width: 810px;
  border: 1px solid $teritary-color;
  background-color: $secondary-color;
  position: absolute;
  left: 15%;
  top: 7.5%;
  h2{
    text-align: center;
    font-weight: 600;
    border-bottom: 1px solid $teritary-color;
    background-color: $primary-color;
    margin: 0;
    padding: 5px 0;
    &:hover{
      cursor: grab;
    }
    .close, .enlarge{
      background-color: $primary-color;
      position: absolute;
      right: 0;
      border: none;
    }
    .enlarge{
      right: 20px;
    }
  }
}

.shutter-window{
  height: 535px;
  width: 575px;
  left: 25%;
  top: 5%;
}

.ascii-window{
  height: 535px;
  width: 575px;
  left: 25%;
  top: 5%;
}

.piece-window{
  height: 550px;
  width: 400px;
  left: 35%;
  top: 2.5%;
}

.answers-window{
  height: 550px;
  width: 500px;
  left: 30%;
  top: 5%;
}

.notes-window{
  height: 500px;
  width: 375px;
  left: 32.5%;
  top: 2.5%;
}

.about-window{
  height: 550px;
  width: 600px;
  left: 20%;
  top: 2.5%;
  p{
    padding: 5% 5% 0 5%;
  }
}


// .fullscreen{
//   position: absolute;
//   height: 100%;
//   width: 100%;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
// }

footer{
  background-color: $secondary-color;
  border-top: 1px solid $teritary-color;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
  height: 30px;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  .footer-container{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p, #time{
      font-size: 1.5rem;
    }
  }
}

iframe{
  // to prevent iframe from overflowing the window container
  height: 94.2%;
  width: 100%;
  border: none;
}