// fonts
$primary-font: 'B612 Mono', monospace;

// colours
$primary-color: #ffffff;
$secondary-color: #f5f5f5;
$teritary-color: #363535;
$quaternary-color: #d6d6d6;
$orange: #ED9121;
$green: #228B22;

$icon-color: #424141;
$dragged-color: #9e9d9d;