// fonts
$primary-font: 'B612 Mono', monospace;

// colours
$primary-color: #ffffff;
$secondary-color: #eeeeee;
$teritary-color: #363535;
$quaternary-color: #d6d6d6;

$icon-color: #424141;
$dragged-color: #9e9d9d;